# =========================
# Credenciais LambdaTest
# =========================
LT_USERNAME=
LT_ACCESS_KEY=

# =========================
# Credenciais BrowserStack
# =========================
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=

# =========================
# Credenciais SauceLabs
# =========================
SAUCE_USERNAME=
SAUCE_ACCESS_KEY=

# =========================
# Credenciais MeuMinerva
# =========================
URL="https://meuminerva.com/"
URL_STG1="https://mcstaging.meuminerva.com/"
URL_STG2="https://mcstaging2.meuminerva.com/"
URL_SUL="https://sul.meuminerva.com/"
URL_ADMIN="https://meuminerva.com/adm_Min138/admin"
USER_ADMIN=
PASSWORD_ADMIN=
PASSWORD_LOWER=
PASSWORD_WITHOUT_UPPERCASE=
NEW_PASSWORD=
